<div class="container header">
  <div class="header menu align-items-center">
    <img src="../assets/logo.png">

    <ul>
      <li>Premium</li>
      <li>Ajuda</li>
      <li>Baixar</li>
      <li>Inscrever-se</li>
      <li>Entrar</li>
    </ul>
  </div>

  <div class="hero">
    <h1>
      Aproveite 1 mês grátis de <br>
      Premium
    </h1>

    <h4>
      Depois, apenas R$ 16,90/mês. Cancele quando quiser.
    </h4>

    <button>
      VER PLANOS
    </button>

    <p class="aviso">
      São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium.
    </p>
  </div>

  <div class="hero-foto">
    <img src="../assets/premium_dancer.png">
  </div>
</div>

<div class="container body">
  <div class="body-title">
    <h1>
      Porque virar premium?
    </h1>
  </div>

  <div class="body-2">
    <ul>
      <li>
        <img src="../assets/benefit_1.png">

        <h5>
          Baixe suas músicas.
        </h5>

        <p>
          Ouça de onde quiser.
        </p>
      </li>
      <li>
        <img src="../assets/Benefit_2.png">

        <h5>
          Sem anúncios para interromper.
        </h5>

        <p>
          Ouça música sem parar.
        </p>
      </li>
      <li>
        <img src="../assets/benefit_3.png">

        <h5>
          Ouça qualquer música.
        </h5>

        <p>
          Mesmo no celular ou tablet.
        </p>
      </li>
      <li>
        <img src="../assets/benefit_4.png">

        <h5>
          Pule quantas faixas quiser.
        </h5>

        <p>
          Ouça só as que você curtir.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="containe premium">
  <div class="premium-1">
    <h1>
      Escolha seu plano Premium
    </h1>

    <p>
      Ouça sem limites no seu celular, alto-falante e em outros dispositivos.
    </p>
  </div>

  <div class="premium-2">
    <div class="tables">
      <button class="btn-1">
        1 mês grátis
      </button>

      <h3>Individual</h3>

      <p>
        R$ 16,90/mês após o <br>
        período da oferta
      </p>

      <p>
        1 conta
      </p>

      <hr>

      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Curta música sem anúncios
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Ouça em qualquer lugar até offline
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Toque o que quiser
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Pague adiantado ou faça uma assinatura
        </li>
      </ul>

      <button class="btn-2">
        COMEÇAR
      </button>

      <p class="aviso">
        São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium.
      </p>
    </div>

    <div class="tables">
      <button class="btn-1">
        1 mês grátis
      </button>

      <h3>Duo</h3>

      <p>
        R$ 21,90/mês após o <br>
        período da oferta
      </p>

      <p>
        2 conta
      </p>

      <hr>

      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          2 contas Premium para um casal que mora junto
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Duo Mix: uma playlist só pra vocês, atualizada regulamente com músicas que os dois gostam
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Ouça sem anúncio, no modo offline e sob demanda
        </li>
      </ul>

      <button class="btn-2">
        COMEÇAR
      </button>

      <p class="aviso">
        São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium.
      </p>
    </div>

    <div class="tables">
      <button class="btn-1">
        1 mês grátis
      </button>

      <h3>Família</h3>

      <p>
        R$ 26,90/mês após o <br>
        período da oferta
      </p>

      <p>
        6 conta
      </p>

      <hr>

      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          6 contas Premium para familiares que moram no mesmo espaço
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Family Mix: uma playlist pra família, atualizada regularmente com músicas que todo mundo gosta
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Bloqueie música explícita
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Ouça sem anúncio, no modo offline e sob demanda
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Pague adiantado ou faça uma assinatura
        </li>
      </ul>

      <button class="btn-2">
        COMEÇAR
      </button>

      <p class="aviso">
        São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium.
      </p>
    </div>

    <div class="tables">
      <button class="btn-1">
        1 mês grátis
      </button>

      <h3>Universitário</h3>

      <p>
        R$ 8,50/mês após o <br>
        período da oferta
      </p>

      <p>
        1 conta
      </p>

      <hr>

      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Desconto especial para estudantes universitários que tenham direito à oferta
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Curta música sem anúncios
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Ouça em qualquer lugar até offline
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          Toque o que quiser
        </li>
      </ul>

      <button class="btn-2">
        COMEÇAR
      </button>

      <p class="aviso">
        São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium.
      </p>
    </div>
  </div>
</div>

<div class="container footer">
  <div class="footer">
    <ul>
      <li>Legal</li>
      <li>Cookies</li>
      <li>Sobre anúncios</li>
    </ul>
  </div>

  <div class="footer-2">
    <p>
      Brasil
    </p>

    <p>
      <span>&copy; 2020 Spotify AB</span>
    </p>
  </div>
</div>